<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">

<body>
<!-- Insert the template which includes the layout -->
<div th:insert="template::navigation-bar"></div>
<div th:insert="template::header"></div>

<!-- Information Section -->
<div class="container-content" style="background-color:#f1f1f1">
    <div class="row-content">
        <div class="column-33">
            <img th:src="@{/images/protein-pdb.png}" alt="pdbModel" width="2000" height="1187">
        </div>
        <div class="column-66">
            <h1 class="xlarge-font"><b th:text="#{page.title}">_page_title</b></h1>
            <p><span style="font-size:24px" th:text="#{about.msg}">_about_message_</span>
                <br th:text="#{about.section}"><cite><a th:href="@{https://pubmed.ncbi.nlm.nih.gov/9048542/}">1IGT</a></cite></p>
        </div>
    </div>
</div>
</body>

<!-- Setup and resources -->
<head>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <script type="text/javascript" th:src="@{/jsmol/JSmol.min.js}"></script>
        <!-- Get the jmol with a pdb file that has been given-->
        <script type="text/javascript" th:src="@{/js/jmol.js}" src="../../js/jmol.js"></script>
        <script>
            pdbViewer("1igt.pdb");
        </script>
        <!-- Include Leap Motion libraries -->
        <script type="text/javascript" th:src="@{/js/leap-1.1.1.min.js}" src="../../js/leap-1.1.1.min.js"></script>
        <script type="text/javascript" th:src="@{/js/leapmolecule.js}" src="../../js/leapmolecule.js"></script>
</head>

<!-- Footer -->
<body>
<div th:insert="template::footer"></div>
</body>
</html>