<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">

<div th:insert="/template.html"></div>
<link rel="stylesheet" th:href="@{css/stylesheet.css}">

<<head>
    <script type="text/javascript" src="../../jmol-14.32.1/jsmol/JSmol.min.js"></script>

    <script type="text/javascript">
        var Info = {
            width: 1000,
            height: 1000,
            j2sPath: "../../jmol-14.32.1/jsmol/j2s",
        }
    </script>
</head>

<script type="text/javascript">
    jmolApplet0 = Jmol.getApplet("jmolApplet0", Info);
    Jmol.script(jmolApplet0,"background white; load 7kx4.pdb; wireframe only; spin on")
</script>

<b>Spin:</b>
<label>
    <input name="vis" type="radio" onclick=" Jmol.script(jmolApplet0,
               'spin off; ');">
</label>Off
<label>
    <input name="vis" type="radio" onclick=" Jmol.script(jmolApplet0,
               'spin on; ');" checked="checked">
</label>On</br>

<b>Color:</b>
<label>
    <input name="vis" type="radio" onclick=" Jmol.script(jmolApplet0,
               'color cpk; ');" checked="checked">
</label>Atom
<label>
    <input name="vis" type="radio" onclick=" Jmol.script(jmolApplet0,
               'color structure; ');">
</label>Secondary
<label>
    <input name="vis" type="radio" onclick=" Jmol.script(jmolApplet0,
               'color chain; ');">
</label>Chain
<label>
    <input name="vis" type="radio" onclick=" Jmol.script(jmolApplet0,
               'color amino; ');">
</label>Residue
<label>
    <input name="vis" type="radio" onclick=" Jmol.script(jmolApplet0,
               'color group; ');">
</label>Group
<label>
    <input name="vis" type="radio" onclick=" Jmol.script(jmolApplet0,
               'color monomer; ');">
</label>Monomer
<label>
    <input name="vis" type="radio" onclick=" Jmol.script(jmolApplet0,
               'color relativeTemperature; ');">
</label>Relative temp.
<label>
    <input name="vis" type="radio" onclick=" Jmol.script(jmolApplet0,
               'color fixedTemperature; ');">
</label>Fixed temp.
<label>
    <input name="vis" type="radio" onclick=" Jmol.script(jmolApplet0,
               'color black; ');">
</label>Black
<label>
    <input name="vis" type="radio" onclick=" Jmol.script(jmolApplet0,
               'color white; ');">
</label>White
<label>
    <input name="vis" type="radio" onclick=" Jmol.script(jmolApplet0,
               'color grey; ');">
</label>Grey</br>

<b>Background:</b>
<label>
    <input name="vis" type="radio" onclick="Jmol.script(jmolApplet0,
               'background black; ');">
</label>Black
<label>
    <input name="vis" type="radio" onclick="Jmol.script(jmolApplet0,
               'background white; ');" checked="checked">
</label>White
<label>
    <input name="vis" type="radio" onclick=" Jmol.script(jmolApplet0,
               'background red; ');">
</label>Red
<label>
    <input name="vis" type="radio" onclick="Jmol.script(jmolApplet0,
               'background green; ');">
</label>Green
<label>
    <input name="vis" type="radio" onclick="Jmol.script(jmolApplet0,
               'background blue; ');">
</label>Blue
<label>
    <input name="vis" type="radio" onclick="Jmol.script(jmolApplet0,
               'background yellow; ');">
</label>Yellow
<label>
    <input name="vis" type="radio" onclick="Jmol.script(jmolApplet0,
               'background cyan; ');">
</label>Cyan
<label>
    <input name="vis" type="radio" onclick="Jmol.script(jmolApplet0,
               'background magenta; ');">
</label>Magenta</br>
</html>