<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<div th:insert="/template.html"></div>
<link rel="stylesheet" th:href="@{/css/stylesheet.css}">
<!--    <style>-->
<!--        .footer {-->
<!--            background: Black;-->
<!--            color: white;-->
<!--            height: 200px;-->
<!--            position: relative;-->
<!--            bottom: 0;-->
<!--        }-->

<!--        .footer-bottom {-->
<!--            background: Black;-->
<!--            color: white;-->
<!--            height: 50px;-->
<!--            width: 100%;-->
<!--            text-align: center;-->
<!--            position: absolute;-->
<!--            bottom: 0;-->
<!--            left: 0;-->
<!--            border: 1px solid #ff9933;-->
<!--        }-->

<!--        .footer-content {-->
<!--            border: 1px solid #ff9933;-->
<!--            height: 175px;-->
<!--            display: flex;-->
<!--        }-->

<!--        .footer-section {-->
<!--            flex: 1;-->
<!--            padding: 25px;-->
<!--            border: 1px solid #ff9933;-->
<!--        }-->
<!--    </style>-->
</head>

<body>
<div class="container-content">
    <div class="row-content">
        <div class="column-66">
            <h1 class="xlarge-font"><b>Leap Motion</b></h1>
            <h1 class="large-font" style="color:MediumSeaGreen;"><b>What is it?</b></h1>
            <p><span style="font-size:24px">Make movements with your hands.</span> <br> </p>
            <button class="button">Download Application</button>
            <a th:href="@{https://www.ultraleap.com/}"><button class="button">Read More</button></a>
        </div>
        <div class="column-33">
            <img src="/images/motion-leap.png" width="335" height="471" alt="leap-motion">
        </div>
    </div>
</div>

<!-- Clarity Section -->
<div class="container-content" style="background-color:#f1f1f1">
    <div class="row-content">
        <div class="column-33">
            <img src="/images/JSmol-logo.png" alt="JSmol" width="335" height="471">
        </div>
        <div class="column-66">
            <h1 class="xlarge-font"><b>JSmol</b></h1>
            <h1 class="large-font" style="color:red;"><b>What is it?</b></h1>
            <p><span style="font-size:24px">Create a molecule that moves.</span> <br> Hello </p>
            <a th:href="@{https://sourceforge.net/projects/jmol/files/Jmol/Version%2014.32/Jmol%2014.32.1/Jmol-14.32.1-binary.zip/download}"><button class="button" style="background-color:red">Download Application </button></a>
            <a th:href="@{http://jmol.sourceforge.net/}"><button class="button" style="background-color:red">Read More</button></a>
        </div>
    </div>
</div>

<!-- The App Section -->
<div class="container-content">
    <div class="row-content">
        <div class="column-66">
            <h1 class="xlarge-font"><b>About ??</b></h1>
            <h1 class="large-font" style="color:MediumSeaGreen;"><b>What is it?</b></h1>
            <p><span style="font-size:24px">Create a molecule that moves.</span> <br> OK </p>
<!--            <button class="button">Download Application</button>-->
        </div>
        <div class="column-33">
            <img src="/images/JSmol-logo.png" width="335" height="471"  alt="jsmol">
        </div>
    </div>
</div>

<div class="footer">
    <div class="footer-content">

        <div class="footer-section about">
            <p class="navbar-logo"><span>Rose & Akastia</span><br/>Bio Informatics</p>
            <p>
                Molecular interaction
            </p>
            <a><i class="fa fa-fw fa-phone"></i> Phone</a><br/>
            <a th:href="@{https://github.com/RoseHazenberg/Research-Web-Applications}">
                <i class="fa fa-fw fa-github"></i></a>
        </div>
        <div class="footer-section links">
            <h4> Quick links</h4>
            <ul>
                <a href="input"><li>Input</li></a>
            </ul>
        </div>
        <div class="footer-section contact-form">
            <span>
            <a th:href="@{https://www.hanze.nl/nld/onderwijs/techniek/instituut-voor-life-science--technology/opleidingen/bachelor/bio-informatica}">
                <img class="navbar-logo" th:src="@{/images/hanze-logo.png}" alt="Hanze logo" height="5px" width="5px"></a>
            </span>
        </div>

    </div>

    <div class="footer-bottom">
        <p th:text="#{copyright.msg}"></p>
    </div>
</div>
</body>
</html>