<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <div th:insert="/template.html"></div>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}">
</head>

<body>
<!-- Molecular interaction Section-->
<div class="container-content" style="background-color:#f1f1f1">
    <div class="row-content">
        <div class="column-33">
            <img src="/images/protein-pdb.png" alt="pdbModel" width="2000" height="1187">
        </div>
        <div class="column-66">
            <h1 class="xlarge-font"><b th:text="#{page.title}">_page_title</b></h1>
            <p><span style="font-size:24px" th:text="#{about.msg}">_about_message_</span>
                <br th:text="#{about.section}"> </p>
            <div class="dropdown">
                <button class="button" style="background-color:red" th:text="#{examples.txt}"></button>
                <div class="dropdown-content">
                    <a th:href="@{'/examples?molecule=' + @{1igt}}" th:text="1IGT">_1igt_</a>
                    <a th:href="@{'/examples?molecule=' + @{1svc}}" th:text="1SVC">_1svc_</a>
                    <a th:href="@{'/examples?molecule=' + @{2uv8a}}" th:text="2UV8A">_2uv8a_</a>
                    <a th:href="@{'/examples?molecule=' + @{7kj2}}" th:text="7KJ2">_7kj2_</a>
                    <a th:href="@{'/examples?molecule=' + @{7kx4}}" th:text="7KX4">_7kx4_</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Leap motion Section -->
<div class="container-content">
    <div class="row-content">
        <div class="column-66">
            <h1 class="xlarge-font"><b>Leap Motion</b></h1>
            <p class="large-font" style="color:MediumSeaGreen;"><b th:text="#{what.msg}">_what_msg_</b></p>
            <p><span style="font-size:24px" th:text="#{leap_motion.msg}">_leap_motion_message_</span>
                <br th:text="#{leap_motion.txt}"> <cite><a th:href="@{https://www.ultraleap.com/product/leap-motion-controller/#overview}">Leap Motion</a></cite> </p>
            <button class="button" th:text="#{download.txt}">_download_application_</button>
            <a th:href="@{https://www.ultraleap.com/product/leap-motion-controller/}"><button class="button" th:text="#{read.txt}">_read_more_</button></a>
        </div>
        <div class="column-33">
            <img src="/images/leap_motion.gif" width="540" height="292" alt="leap-motion">
        </div>
    </div>
</div>

<!-- JSmol Section -->
<div class="container-content" style="background-color:#f1f1f1">
    <div class="row-content">
        <div class="column-33">
            <img src="/images/JSmol-logo.png" alt="JSmol" width="286" height="100">
        </div>
        <div class="column-66">
            <h1 class="xlarge-font"><b>JSmol</b></h1>
            <p class="large-font" style="color:red;"><b th:text="#{what.msg}">_what_msg_</b></p>
            <p><span style="font-size:24px" th:text="#{jsmol.msg}">_jsmol_message</span>
                <br th:text="#{jsmol.txt}"> <cite><a th:href="@{https://wiki.jmol.org/index.php/JSmol}">JSmol</a></cite> </p>
            <a th:href="@{https://sourceforge.net/projects/jmol/files/Jmol/Version%2014.32/Jmol%2014.32.1/Jmol-14.32.1-binary.zip/download}">
                <button class="button" style="background-color:red" th:text="#{download.txt}">_download_application_</button></a>
            <a th:href="@{http://jmol.sourceforge.net/}"><button class="button" style="background-color:red" th:text="#{read.txt}">_read_more_</button></a>
        </div>
    </div>
</div>

<!-- About Us Section -->
<div class="container-content">
    <div class="row-content">
        <div class="column-66">
            <h1 class="xlarge-font"><b>About Us</b></h1>
            <h1 class="large-font" style="color:MediumSeaGreen; font-size: 24px"><b>Who are we?</b></h1>
            <p><span style="font-size:21px" th:text="#{about_us.msg}">_about_us</span>
                <br th:text="#{about_us.section}"> </p>
        </div>
        <div class="mom">
            <h2 style="text-align: center"><b th:text="#{mom(${month})}"></b></h2>
            <a th:href="@{https://pdb101.rcsb.org/motm/265}">
                <img th:src="@{/images/Golgi_casein_kinase.jpg}" width="286" height="60" alt="MOM"></a>
            <p style="text-align: center"> Golgi Casein Kinase</p>
        </div>
    </div>
</div>

<div class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <p style="font-weight: bold" th:text="#{page.title}">_molecular_interaction_</p>
            <p th:text="#{footer.msg}"><span></span><br/>_footer_message_</p>
            <a th:href="@{https://github.com/RoseHazenberg/Research-Web-Applications}" style="color: white">Github<i class="fa fa-fw fa-github"></i></a>
        </div>
        <div class="footer-section links">
            <p style="font-weight: bold;" th:text="#{links.msg}">_quick_links_</p>
            <a href="home" style="color: white">Home</a><br/>
            <a href="input" style="color: white" th:text="#{page.title}">_molecular_interaction_</a><br/>
            <a href="contact" style="color: white">Contact</a><br/>
        </div>
        <div class="footer-section contact-form">
            <span>
                <a th:href="@{home}">
                    <img style="width: 200px; height: 70px; overflow: hidden; float: left;" th:src="@{/images/ARlogo.PNG}" alt="A&R logo"></a>
                <p class="navbar-logo"><span>Rose & Akastia</span><br th:text="#{bioinformatics.msg}"/></p>
            </span>
        </div>
    </div>

    <div class="footer-bottom">
        <p th:text="#{copyright.msg}"></p>
    </div>
</div>
</body>
</html>