<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Setup and resources -->
<head>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
<!-- Insert the template which includes the layout -->
<div th:insert="template::navigation-bar"></div>
<div th:insert="template::header"></div>

<h3 th:text="#{input.msg}"></h3>

<!-- Error message when the file upload is incorrect -->
<h4 th:text="${message}" th:class="${message_type}">_message_</h4>

<!-- Creates the balk for the input of the pdb file -->
<form th:action="@{data_upload}" method="post" enctype="multipart/form-data">
    <input type="file" name="pdb_data" accept="text/pdb" required/>
    <input type="submit" value="Upload"/>
</form>

<div>
    <img src="/images/hand_gesture.png" alt="Hand_gesture">
</div>


<!-- Footer -->
<div th:insert="template::footer" style="position: relative; bottom: 0; margin-bottom: 0; width: 100%"></div>
</body>
</html>