<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}">
    <title th:text="#{tab.title}">_tab_title_</title>
</head>

<body>
    <div class="navbar title-large title-animate-bottom">
        <a th:href="@{https://www.hanze.nl/nld/onderwijs/techniek/instituut-voor-life-science--technology/opleidingen/bachelor/bio-informatica}">
            <img class="navbar-logo" th:src="@{/images/hanze-logo.png}" alt="Hanze logo"></a>
        <a th:href="@{home}"><i class="fa fa-fw fa-home"></i> Home</a>
        <a th:href="@{input}"><i class="fa fa-fw fa-file"></i> Input</a>
        <div class="dropdown">
            <button class="dropbtn"><i class="fa fa-list"></i> Examples</button>
            <div class="dropdown-content">
                <a th:href="@{'/examples?molecule=' + @{1igt}}" th:text="1igt">_1igt_</a>
                <a th:href="@{'/examples?molecule=' + @{1svc}}" th:text="1svc">_1svc_</a>
                <a th:href="@{'/examples?molecule=' + @{2uv8a}}" th:text="2uv8a">_2uv8a_</a>
                <a th:href="@{'/examples?molecule=' + @{7kj2}}" th:text="7kj2">_7kj2_</a>
                <a th:href="@{'/examples?molecule=' + @{7kx4}}" th:text="7kx4">_7kx4_</a>
<!--                <a th:href="@{1igt}">1igt</a>-->
<!--                <a th:href="@{1svc}">1svc</a>-->
<!--                <a th:href="@{2uv8a}">2uv8a</a>-->
<!--                <a th:href="@{7kj2}">7kj2</a>-->
<!--                <a th:href="@{7kx4}">7kx4</a>-->
            </div>
        </div>
        <div class="navbar-right">
            <a th:href="@{contact}"><i class="fa fa-fw fa-envelope"></i> Contact</a>
            <a href="#"><i class="fa fa-fw fa-globe"></i> Translate</a>
            <a th:href="@{https://github.com/RoseHazenberg/Research-Web-Applications}">
                <i class="fa fa-fw fa-github"></i></a>
        </div>
    </div>
    <header class="title-container title-theme title-padding" id="myHeader">
        <div class="title-center">
            <div class="gap-20"></div>
            <h1 class="title-large title-animate-bottom" th:text="#{page.title}">_page_title_</h1>
        </div>
    </header>

</body>
</html>