<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <context-param>
        <param-name>upload</param-name>
        <!-- TODO: Change this to your own path -->
        <param-value>C:/Users/Rose Hazenberg/tmp/upload/</param-value>
    </context-param>

    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/input</url-pattern>
        <url-pattern>/data_upload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>nl.bioinf.group5.servlets.FileUploadServlet</servlet-class>
        <init-param>
            <param-name>upload</param-name>
            <!-- TODO: Change this to your own path -->
            <param-value>C:/Users/Rose Hazenberg/tmp/upload/</param-value>
        </init-param>
        <multipart-config>
            <!-- TODO: Change this to your own path -->
            <location>C:/Users/Rose Hazenberg/tmp/tmp</location>
            <!-- all in bytes -->
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>

    <servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>nl.bioinf.group5.servlets.ErrorHandler</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/ErrorHandler</url-pattern>
    </servlet-mapping>

    <error-page>
        <exception-type>java.lang.ArithmeticException</exception-type>
        <location>/ErrorHandler</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/WEB-INF/jsps/exception.jsp</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/templates/page-not-found.html</location>
    </error-page>

    <error-page>
        <location>/WEB-INF/templates/default-error-page.html</location>
    </error-page>

    <error-page>
        <error-code>403</error-code>
        <location>/ErrorHandler</location>
    </error-page>

    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/ErrorHandler</location>
    </error-page>

    <error-page>
        <exception-type>java.io.IOException</exception-type>
        <location>/ErrorHandler</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/ErrorHandler</location>
    </error-page>
</web-app>